@font-face {
   font-family: 'DianaWebber Script DEMO';
   font-display: swap;
   src: url('file:///C:/Users/anusree/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-02-22_155251/fonts/DianaWebber%20Script%20DEMO/font.ttf');
}
